<div class="panel-body">
 	  <h4>Following <%= @followeds.count %></h4>
		<% if @followeds %>
		  <% @follow_users.each do |follow| %>
  			<% followed = follow.followed %>
  			<div id="<%= dom_id(follow) %>" class="followed row">
    		<div class="col-md-6">
      			<%= link_to followed.full_name, profile_page_path(followed.id) %>
    		</div>
			</div>
		  <% end %>
		<% end %>
 	</div>	