<div class="panel-body">
 	  <h4>Followers <%= @followers.count %></h4>
 	  <% if @followers %>
		<% @followers.each do |follow| %>
  			<div id="<%= dom_id(follow) %>" class="follower row">
    		<div class="col-md-6">
      		  <%= link_to follow.full_name, profile_page_path(follow.id) %>
  			</div>		
			</div>
  		<% end %>
  	  <% end %>	  
    </div>	  	