<div class="col-md-5 ">
	</br>
	</br>
	</br>	
	  <h2><%= @user.first_name %>'s Loop</h2>	
		<% if @campaigns %>
		  <% @campaigns.each do |campaign| %>
			<div class="well">
			  <%= campaign.content %> </br>
			  by <%= link_to campaign.user.full_name, profile_page_path(campaign.user) %>, 
			  <%= time_ago_in_words(campaign.created_at) %> ago
			</div>	
		  <% end %>	



    <% end %>
	</div> 