


<div class="col-md-14">
 <div class="panel-body">

<% if @users %>
 <% @users.each do |user| %>
  <div class="well">
   <%= link_to user.full_name, profile_page_path(user.id) %> </br>
  </div>	
 <% end %>	
<% end %>

  			
</div>
</div>

	