


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#Programs" data-toggle="tab">Programs</a></li>
  <li><a href="#Access" data-toggle="tab">Access</a></li>
   <li><a href="#People" data-toggle="tab">People</a></li>	
  <li><a href="#Calendar" data-toggle="tab">Calendar</a></li>
</ul>
 
<!-- Tab panes -->
<div class="container-fluid">
<div class="tab-content">
  <div class="tab-pane active" id="Programs"><%= render "/parts/org_programs" %></div>
  <div class="tab-pane" id="Access"><%= render "/parts/org_access" %></div>
  <div class="tab-pane" id="People"><%= render "/parts/org_people" %></div>
  <div class="tab-pane" id="Calendar"><%= render "/parts/org_cal" %></div>
</div>
</div>