
<div class="col-md-14">

<div class="panel-body">

  <% if @programs %>
	<% @programs.each do |program| %>
		<div class="well">
			<%= link_to program.prog_name, program_path(program.id) %> </br>
		</div>  
  	<% end %> 
  <% end %>

	
</div>  
</div>  