
</br>
<div class= "container-fluid">
      <ul>
    	<li>  CALL: 817-320-5436 </li>
    	<li>  Email: intake@cohoot.org </li>
      	<li>  Hours: M-F 8:00am-5:00pm  </li>
      	<li>  message intake coordinator </li>
      	<li>  Cohoot quick enroll	</li>
      </ul>  
</div>      

	