
    <strong> ACCESS </strong>  </br>
      <ul class="list-group">
    	<li class="list-group-item">  CALL: 817-320-5436 </li>
    	<li class="list-group-item">  Email: intake@cohoot.org </li>
      	<li class="list-group-item">  Hours: M-F 8:00am-5:00pm  </li>
      	<li class="list-group-item">  message intake coordinator </li>
      	<li class="list-group-item">  Cohoot quick enroll	</li>
    
      </ul>
      

	