
<div class="col-md-5">
<div class="container-fluid">
</br>
</br>
</br>
</br>

 <% if @campaigns %>
  <% @campaigns.each do |campaign| %>
	<div class="well">
	  <%= campaign.content %> </br>
	  <%= link_to time_ago_in_words(campaign.created_at), campaign_path(campaign) %> ago,
	  by <%= campaign.user.full_name %>
	</div>	
<% end %>	
<% end %>	


</div>
</div>	