
<%= render "/parts/mainnav" %>

<div class="container-fluid">
  <div class="row">
  

	  <div class="col-lg-12 col-lg-offset-4">
		  <div class="vert-box">
        <div class="form-group">
    			<%= form_for @search, 
            as: :search, url: results_path, 
            method: 'get', 
            :html => {:class => "form-horizontal center"} do %>
                <div class="form-inline col-lg-12">
                  <%= text_field_tag :q, params[:q], 
                      class: "form-control input-lg", 
                      placeholder: "What's your goal?" %>
                  <%= submit_tag "Search!",  class: "btn btn-lg btn-primary col-sm-offset-1" %> 
                </div> 
            <% end %> 
        </div> 
      </div>
    </div>


  </div> <!--end row-->
</div> 



