<%= render "/parts/mainnav" %>


<div class="container-fluid">
	<div class="row"> 
		<div class="col-md-6">

	

		<h3><%= @program.prog_name %> at <%= @organization.name %></h3>
		<%= render 'form' %>

	
</div>
</div>
</div>
