<%= render "/parts/mainnav" %>


<!--
	A list of the most popular email providers:
	yahoo.com
	gmail.com
	hotmail.com
	aol.com
	comcast.com
	comcast.net
	msn.com
	msn.net
	sbcglobal.com
	sbcglobal.net
	roadrunner.com
	rr.com
	optimum.com
	optimum.net
-->

<h1> Connect with your organization! </h1>



<%# simple_form_for @staff do |f| %>
 <%# f.input :user_id, input_html: { type: "hidden", value: "@user.id"} %>
 <%# f.input :organization_id, collection: @organizations %>
<%# f.button :submit %>
<%#end%>



</br></br>
	<h3> Not right now </h3>